<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Comparticiones de Maqueta</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
	<link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:wght@400;700&display=swap" rel="stylesheet"> 
</head>
<body>
    <div class="container">
        <h2>Comparticiones de <span th:text="${maqueta.nombre}"></span></h2>

        <div th:if="${#lists.isEmpty(comparticiones)}">
            <p>No hay comparticiones para esta maqueta.</p>
        </div>

        <div th:if="${!#lists.isEmpty(comparticiones)}">
            <ul>
                <li th:each="comparticion : ${comparticiones}">
                    <span th:text="${comparticion.compartidoCon.nombre}"></span>
                    <form th:action="@{/maquetas/comparticion/{comparticionId}/eliminar(comparticionId=${comparticion.id})}" method="post" style="display:inline;">
                        <button type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar esta compartición?')">Eliminar</button>
                    </form>
                </li>
            </ul>
        </div>

        <div class="button-container">
            <button th:onclick="|window.location.href='@{/maquetas}'|">Volver a Mis Maquetas</button>
        </div>
    </div>
</body>
</html>